#top-banner {
    display: flex;
    width: 100%;
}
#top-banner > div {
    margin: auto;
}

.item {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.item > div {
    margin: auto;
}

.add-form > *{
    display: block;
}