{% extends "base.html.jinja" %}
{% block title %}Edit Catalog{% endblock %}
{% block content %}
<form name="update-catalog-service" method="POST" action="/catalog-services" class="add-form">
    <label for="id">ID :</label>
    <input type="number" readonly value="{{catalog['id']}}" name="id">
    <label for="service_id">Service :</label>
    <select name="service_id">
        {% for service in services %}
            {% if catalog['service_id'] == service['id'] %}
                <option value="{{service['id']}}" selected>{{service['name']}}</option>
            {% else %}
                <option value="{{service['id']}}">{{service['name']}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="price">Price :</label>
    <input name ="price" type="number" value="{{catalog['price']}}" min="0.00" step="0.01" required>
    <label for="discount_percentage">Percentage Discount :</label>
    <input name="discount_percentage" required type="number" value="{{catalog['discount_percentage']}}" min="0.00" max="100.00" step="0.01">
    <label for="starting_date">Starting Date :</label>
    <input name="starting_date" required type="date" value="{{catalog['starting_date']}}">
    <label for="ending_date">Ending Date :</label>
    <input name="ending_date" required type="date" value="{{catalog['ending_date']}}">
    <input type="submit" name="update_catalog_service">
</form>
{% endblock %}