{% extends "base.html.jinja" %}
{% block title %}Edit Service Type{% endblock %}
{% block content %}
    <form name="edit-resource" method="POST" action="/services-types" class="add-form">
        <label for="id">ID :</label>
        <input name="id" type="number" readonly value="{{data['id']}}">
        <label for="name">Name :</label>
        <input required type="text" name="name" value="{{data['name']}}">
        <label for="desc">Description :</label>
        <textarea required name="desc">{{data['desc']}}</textarea>
        <input type="submit" name="update_service_type">
    </form>
{% endblock %}