{% extends "base.html.jinja" %}
{% block title %}Edit Resource{% endblock %}
{% block content %}
    <form name="edit-resource" method="POST" action="/resources" class="add-form">
        <label for="id">ID :</label>
        <input name="id" type="number" readonly value="{{data['id']}}">
        <label for="name">Name :</label>
        <input type="text" name="name" value="{{data['name']}}">
        <label for="desc">Description :</label>
        <textarea name="desc">{{data['desc']}}</textarea>
        <label for="price">Price :</label>
        <input type="number" name="price" value="{{data['price']}}">
        <input type="submit" name="update_resource">
    </form>
{% endblock %}