{% extends "base.html.jinja" %}
{% block title %}Services Types{% endblock%}
{% block content %}
<a href="/add-service-type"><p>Add a new service type</p></a>
{% if data %}
    {% for service_type in data %}
        <div class="item">
            <div>
                <p>Name : {{ service_type['name'] }}</p>
            </div>
            <div>
                <p>Description : {{ service_type['desc'] }}</p>
            </div>
            <div>
                <a href="service-type/{{service_type['id']}}"><span>Edit</span></a>
            </div>
            <form action="/services-types" method="POST">
                <input name="id" readonly value="{{service_type['id']}}" hidden>
                <input type="submit" name="delete_service_type" value="DELETE">
            </form>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}