{% extends "base.html.jinja" %}
{% block title %}Services{% endblock%}
{% block content %}
<a href="/add-service"><p>Add a new service</p></a>
{% for service in services %}
    <div class="item">
        <div>
            <p>Name : {{ service['name'] }}</p>
        </div>
        <div>
            <p>Description : {{ service['desc'] }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}